# Kakao API
REACT_APP_KAKAO_MAP_API_KEY=your_kakao_map_api_key
REACT_APP_KAKAO_CLIENT_ID=your_kakao_client_id
REACT_APP_KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback

# Backend API
REACT_APP_API_BASE_URL=http://localhost:8080/api
